/* Aquest full d'estil correspon a la pàgina contacte.html */

/* Definim la posició i mida dels elements de la pàgina*/
#contenidor_form{
	color:#e9e9e9;
}


.bloc_form1, .bloc_form2{
	float:left;
	padding:10px;
	width:400px;
}

.bloc_form1{
	margin-right:20px;
}

.bloc_form1 div, .bloc_form2 div{
	margin-top:20px;
}


#boto_condicions{
	float:right;
}

fieldset legend{
	font: 24px Press Start 2P;
}

/* Definim l'estil dels camps del formulari segons el seu type */
input[type="text"],input[type="date"],input[type="email"],input[type="password"], select{
	box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 0px 0px 0px 15px;
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius:5px;
	background: #ffffffa3;
	margin-bottom: 10px;
	font: 18px Dosis;
	height: 45px;
}

input[type="date"]{
	width:200px;
	text-align:center;
	padding-top:10px;
	padding-right:10px;
}

input[type="submit"]{
	box-shadow: inset 0px 1px 0px 0px #ff9ec5;
	background-color: #f40061;
	border: 1px solid #8f0039;
	border-radius:5px;
	cursor: pointer;
	font: 13px 'Press Start 2P';
    padding: 10px 47px;
	margin-top:20px;
	float:right;
	clear:both;
	color:#3c3c3c;
}

input[type="submit"]:hover{
	color:white;
}

input[type="radio"]{
	margin-left:20px;
	margin-top:20px;
}

input[type="checkbox"]{
	margin-right: 6px;
}

option{
	padding:5px;
}

