/* Defineixo el color de fons i la font per defecte de tot el document */
html{
	height:100%;
}
body {
	background-image: linear-gradient(#052c46, #b43973);
	font-family: 'Dosis', serif;

	font-size: 18px;
	color: white;
	margin:0px;
}

a {
	text-decoration: none;
}

/* Defineixo l'amplada i posició del contenidor */
#contenidor{
	margin:0px auto;
	width:900px;
}

/* Defineixo l'estil de la capçalera */
header{
	font: bold 65px 'Press Start 2P';
	padding:25px 0px 0px 25px;
	text-align:center;
*	color: #f56c15;
	  -webkit-text-stroke: 1px WHITE;

  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom,#3c1f3d 28% ,#b43973 50%, #fdab28 77%);

}

/* Aquí comença l'estil del bloc nav */
nav{
	clear:both;
	font-size: 14px;
	font-family: 'Press Start 2P';
	*height:50px;
	width:100%;
	float:left;
	margin: 15px 0px;
}

ul{
	margin:0px auto;
	list-style:none; 
	padding-left:20px;
	width:655px;
}

ul li{
	float:left;
	padding:10px 60px;
	color:white;
}

ul li:hover{
	background-color:#b13972;
}
/* Aquí acaba l'estil del bloc nav */

/* Aquí comença l'estil del bloc section */
section{
	padding-top:15px;
	padding-bottom:20px;
	width:100%;
	clear:both;
}

/* Aquí acaba l'estil del bloc section */


/* Aquí comença l'estil del bloc footer */
footer{
	bottom:0px;
	right:0px;
	position: absolute;
	width:100%;
*	text-align:right;
	padding:10px 0px;
}

#footer_cont{
	width: 900px;
	margin:0px auto;
}

#footer_esq{
	float:left;
}

#footer_dreta{
	float:right;
}
/* Fins aquí el bloc footer */